[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
django = "==5.1.2"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
drf-yasg = "*"

[dev-packages]

[requires]
python_version = "3.13"
